<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103484181816-ov74kuho4un50bvj9r43c4guf2rg0gd1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103484181816-ov74kuho4un50bvj9r43c4guf2rg0gd1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>103484181816-81i7supchgari9nvi3oemgsd5ve98trn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAtS6QYYXJ5cAnoSer9AIXCjiYogzd2kJc</string>
	<key>GCM_SENDER_ID</key>
	<string>103484181816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>netika.kukelola.ios</string>
	<key>PROJECT_ID</key>
	<string>kukelola-f6a61</string>
	<key>STORAGE_BUCKET</key>
	<string>kukelola-f6a61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103484181816:ios:541dd6221634bee7dc05cd</string>
</dict>
</plist>